$font-family-base: interstate, pragamatica,'helvetica neue', helvetica, arial, sans-serif;
$font-family-headline: interstate, nort, 'bebas neue', sans-serif;
$color-bg: #151515;
$color-text: #d1d7e0;
$color-accent: #ffffff;
$color-title: #f0f0f0;

$color-text-btn: #ffffff;
$color-bg-btn: #ec4e20;

@mixin standout {
    font-family: $font-family-headline;
    font-weight: 800;
    letter-spacing: -0.05em;
    /*letter-spacing: 0.05em;
    text-transform: uppercase;*/
}

@mixin headline {
    @include standout;
    font-size: 2rem;
    line-height: 1;
    margin: 0;
    color: $color-accent;
}

@mixin navanim {
    animation-duration: .25s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}