$font-family-base: interstate, pragamatica,'helvetica neue', helvetica, arial, sans-serif;
$font-family-headline: interstate, nort, sans-serif;
/*
$color-bg: #151515;
$color-text: #d1d7e0;
$color-accent: #f0f0f0;
$color-bg-btn: #ec4e20;
*/

$color-bg: #574c4f;
$color-text: #f0f0f0;
$color-accent: #efdab9;
$color-bg-btn: #78b0a0;

@mixin standout {
    font-family: $font-family-headline;
    font-weight: 700;
    letter-spacing: -0.05em;
}

@mixin headline {
    @include standout;
    font-size: 2rem;
    line-height: 1;
    margin: 0;
    color: $color-accent;
}

@mixin navanim {
    animation-duration: .25s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}