@import "mixins-vars.scss";
@import "animations.scss";

.l-container {
  width: 100vw;
  color: $color-text;
  font-family: $font-family-base;
  font-size: .9rem;
  line-height: 1;
  background: $color-bg;
  min-height: 100vh;
  z-index: 100;
  overflow: auto;
}

.c-mainmenu {
  opacity: 0;
  animation-name: fadein;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  width:90vw;
  position: absolute;
  top: 60vh;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 100;
  position: relative;
  &__title {
    padding: 1em 0;
  }
  &__headline {
    @include headline;
    color: $color-accent;
  }
  &__copy {
    font-size: 1rem;
    font-weight: 800;
  }
  &__link {
    @include standout;
    font-size: 1.5rem;
    padding: .1em 0;
    a {
      text-decoration: none;
      color: inherit;
    }
  }
}

.c-aboutme {
  scrollbar-width: none;
  height: 100vh imp !important;
  &__content {
    width: 90vw;
    max-height: 100vh;
    margin: 0;
    position: relative;
    left: 50%;
    padding: 10vh 0 0 0;
    transform: translateX(-50%);
  }
  &__headline {
    @include headline;
    padding: .5em 0 .25em 0;
  }
  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  &__listItem {
    width: 50%;
    padding: 2em;
    flex: 2 1 auto;
  }
  &__listImg {
    width: 100%;
    height: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

.c-project {
  scrollbar-width: none;
  height: 100vh !important;
  &__content {
    width: 75vw;
    height: 100vh;
    margin: 0;
    position: relative;
    &__greeting {
      @include headline;
    }
  }
  &__contentx {
    position: absolute;
    z-index: 100;
    width:100%;
    left:50vw;
    transform: translateX(-50%);
    text-align: center;
    &--right {
      left: 95vw;
      transform: translateX(-100%);
      text-align: right;
    }
    &--left {
      left: 5vw;
      text-align: left;
      transform: translateX(0%)
    }
  }
  &__contenty {
    position: absolute;
    z-index: 100;
    width: 100%;
    top: 50vh;
    transform: translateY(-50%);
    &--top {
      top: 10vh;
      transform: translateY(0%);
    }
    &--bottom {
      top: 95vh;
      transform: translateY(-100%);
    }
  }
  &__name {
    @include headline;
  }
  &__desc {
    padding: .5em 0;
  }
  &__btn {
    background-color: $color-bg-btn;
    display: inline-block;
    padding: .5em;
    margin: 0 .75em 0 0;
    border: 1px solid transparent;
    transition: .25s;
    font-size: 1rem;
    letter-spacing: -0.03em;
    a {
      color: $color-bg;
      text-decoration: none;
      font-weight:500
    }
    &:last-child {
      margin: 0;
    }
    &:hover {
      background-color: $color-bg;
      border: 1px solid $color-text;
      a {
        color: $color-text;
      }
    }
  }
  &__paraobj {
    text-align: center;
    pointer-events: none;
    &--left {
      text-align: left;
    }
    &--right {
      text-align: right;
    }
  }  
  &__videocontainer {
    z-index: 90;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
  }
  &__videoasset {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
  &__videofilter {
    width: 100vw;
    height: 100vh;
    background-color: #{$color-bg}4D;
    z-index: 95;
    position: absolute;
  }
}

.c-contactForm {
  width: 75vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  &__outer {
    position: relative;
    width: 100vw;
    min-height: 100vh;
  }
  &__field {
    margin: 1em 0;
  }
  &__label {
    margin: 0 0 .25em 0;
  }
  &__input {
    display: block;
    width: 100%; 
    box-sizing: border-box;
  }
  &__inputTextarea {
    height: 4em;
  }
  &__submitBtn {
    display: block;
  }
  &__error {
    display: none;
    position: absolute;
    width: 70vw;
    height: 20vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $color-accent;
    border: $color-bg solid 4px;
    color: $color-bg;
    border-radius: 1em;
    z-index: 110;
    text-align: center;
  }
  &__errorMsg {
    @include standout;
    font-size: 1em;
    padding: 1em;
    font-weight: 400;
  }
  &__errorOk {
    display: block;
    background-color: $color-text;
    width: 4em;
    margin: 0 auto;
    line-height: 1.5;
    border-radius: 4px;
    font-weight: bold;
  }
}

.l-nav {
  @include navanim;
  width:80vw;
  left:-100%;
  height:100vh;
  background-color: $color-accent;
  position: fixed;
  z-index: 200;
}

.c-nav {
  width: 90%;
  &__content {
    @include standout;
    width: 100%;    
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  &__link {
    padding: .5em 0;
    font-size: 2rem;
    color: $color-bg;
    text-decoration: none;
  }
}

.l-navicon {
  left: 5vw;
  top: 2.5vh;
  position: fixed;
  z-index: 210;
  width: 1.25rem;
  height: auto;
}

.c-navicon {
  &__line {
    fill: none;
    stroke-miterlimit:10;
  }
  &__linetop {
    @include navanim;
    transform-origin: 40% 0%;
    transform: translateY(0%) rotate(0deg);
    stroke: $color-accent;
  }
  &__linemiddle {
    @include navanim;
    animation-duration: 0.01s;
    visibility: visible;
    stroke: $color-accent;
  }
  &__linebottom {
    @include navanim;
    transform: translateY(0%) rotate(0deg);
    transform-origin: 60% 125%;
    stroke: $color-accent;
  }
}
