@import "mixins-vars.scss";

.l-container {
  width: 100vw;
  /*background-color: $color-bg;*/
  color: $color-text;
  font-family: $font-family-base;
  font-size: .95rem;
  line-height: 1;
  font-weight: 400;
}

.c-slideContainer {
  background: linear-gradient($color-bg, $color-bg-alt, $color-bg-alt2);
  width: 100vw;
  height: 100vh;
}

.c-slide {
  width: 75vw;
  height: 100vh;
  margin: 0;
  position: relative;
  &__content {
    position: absolute;
    bottom: 33%;
    left: 5vw;
    transform: translateY(50%)
  }
  &__greeting {
    @include headline;
  }
  &__name {
    @include headline;
  }
  &__desc {
    padding: .5em 0 1em 0;
  }
  &__btn {
    background-color: $color-accent;
    display: inline-block;
    padding: .75em;
    margin: 0 1em 0 0;
    border: 1px solid transparent;
    transition: .25s;
    font-size: .8rem;
    @include standout;
    a {
      color: $color-text;
      text-decoration: none;
    }
    &:hover {
      background-color: $color-bg;
      border: 1px solid $color-accent;
      padding: .5em 1em;
      a {
        color: $color-accent;
      }
    }
  }
}