@import "mixins-vars.scss";

.l-container {
  width: 100vw;
  color: $color-text;
  font-family: $font-family-base;
  font-size: .9rem;
  line-height: 1;
  background: $color-bg;
  min-height: 100vh;
}

.c-mainmenu {
  width:90vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &__headline {
    @include headline;
    padding: 1em 0;
  }
  &__link {
    @include headline;
    color: #00887a;
    padding: .1em 0;
    letter-spacing: 0;
    a {
      text-decoration: none;
      color: inherit;
    }
  }
  &__copy {
    font-weight: 100;
    letter-spacing: 0.03em;
    line-height: 1;
  }
}

.c-slideContainer {
  width: 100vw;
  height: 100vh;
}

.c-slide {
  width: 75vw;
  height: 100vh;
  margin: 0;
  position: relative;
  &__content {
    position: absolute;
    bottom: 33%;
    left: 5vw;
    transform: translateY(50%);
    z-index: 100;
  }
  &__greeting {
    @include headline;
  }
  &__name {
    @include headline;
  }
  &__desc {
    padding: .5em 0 .5em 0;
  }
  &__btn {
    background-color: $color-bg-btn;
    display: inline-block;
    padding: .5em;
    margin: 0 .75em 0 0;
    border: 1px solid transparent;
    transition: .25s;
    font-size: 1rem;
    letter-spacing: -0.03em;
    a {
      color: $color-text-btn;
      text-decoration: none;
    }
    &:hover {
      background-color: $color-bg;
      border: 1px solid $color-text-btn;
      a {
        color: $color-text-btn;
      }
    }
  }
  &__parabgimg {
    width: 100%;
    height: auto;
  }
}