$font-family-base: pragamatica,'helvetica neue', helvetica, arial, sans-serif;
$font-family-headline: carlmarx, 'bebas neue', sans-serif;
$color-bg: #1f3044;
$color-text: #9fa9b8;
$color-accent: #fb9039;

@mixin standout {
    font-family: $font-family-headline;
    letter-spacing: -.03em;
    font-weight: 800;
}

@mixin headline {
    @include standout;
    font-size: 3rem;
    line-height: 1;
    margin: 0;
    color: $color-accent;
}